html {
    width: 100%;
    height: 100vh;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.header-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    margin: 0;
    justify-content: right;
}

.header-right{
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.header-right a {
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
}

.dots {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 20px;
}


.sign-in-button {
    background-color: #0b57d0;
    border: 1px solid #0b57d0;
    width: 85px;
    min-height: 40px;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    margin-left: 20px;
}


.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo {
    height: 140px;
    width: 350px;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0px;
    padding-top: 160px;
    padding-left: 20px;
}

.images-text {
    color: #4285f4;
    font-size: 16px;
    z-index: 1;
}

.search-logo {
    height: 22px;
    width: 22px;
}

.search-logo:hover {
    cursor: pointer;
}

#search-bar {
    width: 420px;
}

#search-bar input {
    border: none;
    width: 400px;
    line-height: 22px;
    outline: none;
    font-size: 16px;
}

.search-container i {
    padding-left: 15px;;
    color: rgb(167, 167, 167)
}

.search-container {
    display: flex;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 24px;
    min-height: 44px;
    align-items: center;
    gap: 10px;
    
}

.search-container:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

}

footer {
    width: 100%;
    background: #f2f2f2;
    height: 47px;
    position: fixed;
    bottom: 0;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    list-style: none;
}

.footer-list li a {
    text-decoration: none;
    color: black;

}

.footer-list li a:hover {
    text-decoration: underline;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-right: 25px;
}